body {
    padding-top: 56px; /* Ajuste a altura da barra de navegação aqui */
}

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f5f5f5;
}

.jumbotron {
    background: linear-gradient(90deg, rgba(30,60,114,1) 0%, rgba(42,82,152,1) 100%);
    color: white;
}

.oculta {
  display: none;
}

#sugestao {
  display:none;
}